
/* CSS Transition */

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}


.articleList-enter {
  opacity: 0.01;
}


.articleList-enter.articleList-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.articleList-leave {
  opacity: 1;
}

.articleList-leave.articleList-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.text {
  font:Roboto, Arial, sans-serif;
  font-size: 14px;

}

.pseudoLink:hover {
  cursor:pointer;
}

.actionButton {
  display:block;
  padding:5px;
  width: 30px;
  text-align: center;
  margin: 0 auto;
  background-color: #b4c5f3a6;
  transition: ease-in-out 0.2s;
  border-radius: 2px;
}
.actionButton:hover {
  background-color: #dae0f0a6;

}

.table-dark .actionButton {
  background-color: #fff;
}

.table-dark .actionButton:hover {
  background-color: rgb(195, 253, 255);
}

.table {
  transition: ease-in-out .2s;
}
.navbar-dark {
  transition: ease-in-out .2s;
}